<?xml version="1.0" encoding="UTF-8" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         testdox="true"
         defaultTestSuite="unit">
  <testsuites>
    <testsuite name="unit">
      <directory phpVersion="8.0">test/Unit/</directory>
    </testsuite>
    <testsuite name="integration">
      <directory phpVersion="8.0">test/Integration/</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory>src</directory>
    </whitelist>
  </filter>
  <php>
    <ini name="error_reporting" value="E_ALL" force="true"/>
    <ini name="display_errors" value="On" force="true"/>
    <ini name="memory_limit" value="-1" force="true"/>
    <ini name="log_errors" value="On" force="true"/>
    <ini name="log_errors_max_len" value="0" force="true"/>
    <ini name="apc.enabled" value="On" force="true"/>
    <ini name="apc.enable_cli" value="On" force="true"/>
  </php>
</phpunit>
